.contenedor-add {
  display: block;
  margin-top: 0rem;
  padding: 1rem 0.25rem;
}

.subir-archivo {
  width: 100%;
  display: inline-block;
  align-items: center;
  display: flex;
}

.form-container {
  display: flex;
  max-width: 70%;
  flex-direction: column;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.form-container label {
  margin-bottom: 10px;
}

.form-container button {
  width: 20%;
}

.form-container input {
  padding: .375rem .75rem;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.guardar {
  border-radius: 5px;
  color: white;
  background-color: #28a745;
  margin-top: 15px;
  font-size: 1rem;
  border: 1px solid transparent;
  font-weight: 400;
  /* Padding de esta forma sirve para agrandar el boton */
  padding: .375rem .75rem;

}

.buton-container {
  width: 100%;
  position: relative;
}
