<div>
  <div class="container">
    <app-barrita tipo="Crear Productos"></app-barrita>
    <div>
      <h1>Crear Producto</h1>
      <!-- <form [formGroup]="myForm" (ngSubmit)="onSumbit()" autocomplete="off"> -->
      <div class="contenedor-add">
        <form>
          <div class="form-container">
            <label for="#">Nombre:</label>
            <input type="text" placeholder="Ingrese el nombre del producto" />
          </div>
          <div class="form-container">
            <label for="#">Descripción:</label>
            <textarea type="text"></textarea>
          </div>
          <div class="form-container">
            <label for="#">Cantidad:</label>
            <input type="text" placeholder="Ingrese la cantidad del producto" />
          </div>
          <div class="form-container">
            <label for="#">Precio:</label>
            <input type="text" placeholder="Ingrese el precio del producto" />
          </div>
          <div class="form-container">
            <label for="#">Imagen</label>
            <div class="subir-archivo">
              <button>Seleccionar archivo</button>
              <small> Sin archivos seleccionados</small>
            </div>
          </div>
        </form>
        <div class="buton-container">
          <button class="guardar">Guardar</button>
        </div>
      </div>
    </div>

  </div>
</div>
