<section>
  <div class="contenedor">
    <div class="formulario">
      <form [formGroup]="myForm" (ngSubmit)="onSumbit()" autocomplete="off">
        <h2>Registrarte</h2>
        <div class="input-container">
          <i class="fa-solid fa-envelope"></i>
          <input type="text" required formControlName="firstName">
          <label for="#">First name</label>
        </div>
        <div class="input-container">
          <i class="fa-solid fa-lock"></i>
          <input type="text" required formControlName="secondName">
          <label for="#">Second name</label>
        </div>
        <div class="input-container">
          <i class="fa-solid fa-lock"></i>
          <input type="text" required formControlName="lastName">
          <label for="#">Last name</label>
        </div>
        <div class="input-container">
          <i class="fa-solid fa-lock"></i>
          <input type="phone" required formControlName="phone">
          <label for="#">Phone</label>
        </div>
        <div class="input-container">
          <i class="fa-solid fa-lock"></i>
          <input type="email" required formControlName="email">
          <label for="#">Email</label>
        </div>
        <div class="input-container">
          <i class="fa-solid fa-lock"></i>
          <input type="password" required formControlName="password">
          <label for="#">Password</label>
        </div>
        <div class="input-container">
          <i class="fa-solid fa-lock"></i>
          <input type="email" required formControlName="secondPassword">
          <label for="#">Confirm Password</label>
        </div>
        <div>
          <button >
            Registrarse
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
